
@model List<BuddyWingStatus.Models.PlanetStatus>
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('table').dataTable({
            "bJQueryUI": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bAutoWidth": true,
            "bPaginate": false
        });   
    });
</script>

<table id="status" class="table table-condensed table-bordered table-striped">
    <thead>
        <tr>
            <td>Planet</td>
            <td>Requested navigation</td>
            <td>Status Returned</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var planet in Model)
        {
            <tr>
                <td>@planet.Name</td>
                <td>@planet.Description</td>
                
                @{
                   var color = MvcHtmlString.Create( (planet.Message == "Partial Path: False" || planet.Message == "Partial Path: True") ? "green" : "red");
                    
                   }

                <td title="@planet.HopsReturned hops returned" style="text-align: center; color: @color">
                    
                    @if (color.ToString() == "green")
                    {   
                        @: OK
                    }
                    else
                    {

                        @planet.Message
                    }
                </td>
            </tr>
        }
    </tbody>
</table>